<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.sdl.tripplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- SDK CREDENTIALS -->
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="4SxTSk1WVmA9G62J6qqD" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="dHz3QjYEWM_cecRN_aAHqQ" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

         <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main activity -->
        <activity android:name=".AuthPackage.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".UserPackage.UserActivity"
            android:theme="@style/transparent" />
        <activity android:name=".IntroPackage.WelcomeActivity"></activity>
        <activity android:name=".IntroPackage.PrefManager" />
        <activity android:name=".TripsPackage.SelectToShareUserActivity"></activity>
        <activity android:name=".TripsPackage.SharedTripsActivity" />
        <activity android:name=".TripsPackage.SelectTripActivity" />
        <activity android:name=".TripsPackage.OrganizeTripActivity" />
        <activity android:name=".TripsPackage.AddDatesActivity" />
        <activity android:name=".TripsPackage.TripInfoActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TripsPackage.CreateTripFormActivity" />
        <activity android:name=".HomePackage.PlaceInfoPackage.ShowAllReviews" />
        <activity android:name=".HomePackage.PlaceInfoPackage.WritePlaceReview" />
        <activity android:name=".HomePackage.PlaceInfoPackage.CalenderDialog" />
        <activity android:name=".HomePackage.PlaceInfoPackage.PlaceInfo" />
        <activity android:name=".HomePackage.SetCurrentLocation" />
        <activity android:name=".ProfilePackage.Setting_Activity" />
        <activity android:name=".ProfilePackage.EditProfile_Activity" />
        <activity android:name=".HomePackage.AutoSuggestPackage.MainSearchActivity" />
    </application>

</manifest>